{% extends "base.html" %}
{% block body %}
  <h2>Members</h2>
    {% if users %}
    <table>
      <thead>
        <tr>
          <th>ID</th><th>Handle</th><!--<th>Admin</th>--><th>Delete</th>
        </tr>
      </thead>
      <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.handle }}</td>
          <!--<td>{{ 'Yes' if user.admin else 'No' }}</td>-->
          <td><a href="{{ url_for('delete_user', user_id=user.id) }}">Delete</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h4>There are no users</h4>
  {% endif %}
{% endblock %}
